div {
    border: 2px solid blue;
    padding: 25px;
    width: 30%;
}

h1 {
    font-family: 'Unbounded', cursive;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50px;
}

li {
    margin: 10px;
    font-style: italic;
}